@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");
:root {
  --primaryColor:hsl(0, 90%, 49%);
  --PrimaryColorLight: hsl(14 , 88% , 92%);
  --bgColor: hsl(2 , 0% , 100%);
  --formColor: hsl(28 , 46% , 88%);
  --whiteColor: hsl(0 , 0% , 100%);
  --blackColor: hsl(0 , 0% , 12%);
  --greyText: hsl(0 , 0% , 52%);
  --inputColor: hsl(328 , 12% , 96%);
  --cardColor: hsl(282 , 2% , 94%);
  /*Font ang Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.4rem;
  --h3FontSize: 1.2rem;
  --normalFontSize: 1rem;
  --smallFontSize: 0.8rem;
  --smallestFontSize: 0.75rem;
  --borderradius: 2.8rem;
}

.footer {
  background-color: var(--PrimaryColorLight);
  padding: 2rem 0;
  overflow: hidden;
}
.footer .setContainer {
  gap: 1.5rem;
  text-align: center;
  align-items: flex-start;
}
.footer .setContainer .logoDiv .footerLogo {
  display: flex;
  color: black;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding-bottom: rem;
}
.footer .setContainer .logoDiv .footerLogo .logoimg {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  transition: transform 2s ease-in-out;
}
.footer .setContainer .logoDiv .footerLogo .logoimg:hover {
  transform: scale(1.28);
}
.footer .setContainer .logoDiv .footerLogo .first {
  justify-content: center;
  font-weight: 800;
  padding-left: 0.6rem;
  font-family: "Shrikhand", serif;
  font-size: 1.6rem;
  color: rgb(234, 7, 34);
  text-shadow: 4px 4px 2px black;
}
.footer .setContainer .logoDiv .footerLogo .second {
  font-family: "Shrikhand", serif;
  font-size: 1.8rem;
  color: rgb(244, 232, 9);
  font-weight: 800;
  padding-left: 2.8px;
  text-shadow: 4px 4px 2px black;
}
.footer .setContainer .logoDiv .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-weight: 600;
  color: var(--blackColor);
}
.footer .setContainer .logoDiv .copyright .rkc-bharat {
  font-weight: bold;
  color: rgb(35, 108, 192);
}
.footer .setContainer .logoDiv .socials {
  gap: 0.5rem;
  margin: auto;
  justify-content: center;
}
.footer .setContainer .logoDiv .socials .icon {
  font-size: 30px;
  background: var(--primaryColor);
  border-radius: 50%;
  padding: 4px;
  color: white;
  border: 1px solid black;
}
.footer .setContainer .logoDiv .socials .icon:hover {
  color: black;
  background: yellow;
  border: 2px solid red;
}
.footer .setContainer .footerLinks {
  display: grid;
  row-gap: 0.2rem;
}
.footer .setContainer .footerLinks .linkTitle {
  padding-bottom: 0.5rem;
  color: black;
  font-weight: 800;
}
.footer .setContainer .footerLinks li:hover {
  transform: scale(1.2);
}
.footer .setContainer .footerLinks li:hover a {
  color: var(--primaryColor);
}
.footer .setContainer .footerLinks a, .footer .setContainer .footerLinks .phone, .footer .setContainer .footerLinks .email {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

@media only screen and (min-width: 448px) {
  .setContainer {
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
    align-items: center;
  }
  .setContainer .footerLinks {
    justify-content: center;
  }
}
@media only screen and (min-width: 640px) {
  .setContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1040px) {
  .setContainer {
    padding: 2rem 0;
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=Footer.css.map */