.Blogs{
    padding-top: 8rem;
    padding-bottom: 4rem;  
    height: 100%;
}


.link{
    top: 8rem;
    margin-left: 2rem;
    position: fixed;
    padding: 0.8rem;
    // background-color: lightcoral;
    border-radius: 4rem;
    box-shadow: 0.2rem 0.2rem 0.4rem coral;
    color: black;
    text-shadow: 0.1rem 0.2rem 0.4rem white;
}